## Virtual Environment
.venv/
venv/

## Python Cache
__pycache__/
*.pyc

## IDE / Editor
.vscode/
.idea/

## macOS
.DS_Store

beginner.ipynb
professional.ipynb
submission.csv

# LaTeX artifacts
*.aux
*.log
*.dvi
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.toc
*.vrb
